@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

main {
    width: 500px;
    margin: auto;
    margin-top: 30px;
    padding: 40px;
    background-color: rgb(241, 241, 241);
    border-radius: 15px;
}

#screenArea {
    background-color: aliceblue;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 64px;
    border: 2px solid rgb(195, 204, 211);
    overflow: scroll;
}

.row {
    display: flex;
}

.col {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex: 1 1 0px
}

.btn {
    display: block;
    padding: 40px 0px;
    width: 100%;
    text-align: center;
    background-color: rgb(221, 221, 221);
    color: rgb(27, 27, 27);
    font-size: 42px;
    cursor: pointer;
    border-radius: 8px; 
}

.btn:hover {
    filter: brightness(0.95);
}

.red{
    background-color: #f1c5c5;
}

.blue{
    background-color: #8bcdcd;
}

.operate{
    background-color: #dfd8ad;
}